{% extends "myapp/base.html"%}

{%block content%}

<div class="card p-4">

<h1> {{ record.city.name }} — {{ record.date }}</h1>
<p> High Temp: {{ record.temperature_max }} C</p>
<p> Low Temp: {{ record.temperature_min }} C</p>
<p> Rainfall: {{ record.precipitation_sum }} mm</p>
<p> Wind Speed: {{ record.wind_speed_max }} km/h</p>
<p> Source: {{ record.get_source_display }}</p>

<p> <a href="{% url 'record_update' record.pk %}" class="btn btn-warning">Edit</a> </p>
<p> <a href="{% url 'record_delete' record.pk %}" class="btn btn-danger">Delete</a> </p>

</div>

{%endblock%}